*{
  margin-left:1px;
  color:white;
  margin:0;
  text-decoration:none;
  box-sizing: border-box;
font-family: 'poppins', sans-serif;
}
body{
  background-color:#081b29;
}
header{
  background-color: #081429;
  
  height:60px;
  width: 100%;
  display:inline-block;
  justify-content :space-between;
  position:fixed;
  color:white;
  z-index: 100; 
}
#logo{
  position:fixed;
  top:12px;
  left:13px;
  font-size:33px;
  color:#fff;
  font-weight:bold;
  cursor:default;
  opacity:0;
  animation:slideright 1s ease forwards;
margin-left:20px;
  margin-right: 100px;
  height:40px;
  width: 100%;

}
#fli{
  color:red;
}
#element{
  color:cyan;
}
header span{
  position:fixed;
  top:16px;
  right:15px;
}

span a{

  margin-right:10px;
align-items:center;
  display:inline-block;
  font-size:15px;
  font-weight:500;
  transition:.3s;
  opacity:0;
  animation:slidetop .5s ease forwards;
}
span a:active{
  color:#0ef;
  box-shadow:0 0 5px #0ef;
  padding:.3px;
}

.home {
position: relative;
  top:60px;
width: 100%;
justify-content: space-between;
height: 130vh;
background-image: url('all.png');
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding: 70px 10% 0;
}
.home-content {
max-width: 600px;
}

main h3 {
font-size: 32px;
font-weight: 700;
    transition:.3s;
  opacity:0;
  animation:slidetop .5s ease forwards;
  /*animation*/
}


main h1 {
font-size: 56px;
font-weight: 700;
margin: -3px 0;
  /*animation*/

    transition: .5s ease;
  opacity:0;
  animation:slideleft 1s ease forwards;
  animation-delay: calc(.2s*var)
}

main p{
font-size: 20px;
  opacity:0;
  animation:slideright 1s ease forwards;
  animation-delay: calc(.2s*var);
  /*animation*/
}
.home-sci svg {
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #0ef;
box-shadow: 0 0 20px cyan ;
border-radius: 50%;
font-size: 20px;
text-decoration: none;
  transition: .5s ease;
  opacity:0;
  animation:slideleft 1s ease forwards;
  animation-delay: calc(.2s*var);
  
margin-left:10px;
  margin-top:15px;
  
  
}

.home-sci svg:active {
  height: 38px;
width: 38px;
  background-color:white;
color: cyan;
box-shadow: 0 0 40px #0ef;
}


.btn-box{
display: inline-block;
padding: 12px 28px;
background:#0ef;
  box-shadow: 0 0 40px cyan;
border-radius: 40px;
font-size: 16px;
color: #081b29;
letter-spacing: 1px;
text-decoration: none;
font-weight: 600;
  margin-top:15px;
  opacity:0;
  animation:slidetop 1s ease forwards;
  animation-delay:2s;
}


/*header*/
 @keyframes slideright{
   0%{
     transform: translateX(-100px);
     opacity:0;
   }
   100%{
     transform: translateX(0px);
     opacity:1;
   }
   
 }
  @keyframes slidetop{
   0%{
     transform: translateY(-100px);
     opacity:0;
   }
   100%{
     transform: translateY(0px);
     opacity:1;
   } 
 }

@keyframes slidebottom{
   0%{
     transform: translateY(-100px);
     opacity:0;
   }
   100%{
     transform: translateY(0px);
     opacity:1;
   } 
 }

@keyframes slideleft{
   0%{
     transform: translateX(100px);
     opacity:0;
   }
   100%{
     transform: translateX(0px);
     opacity:1;
   }
}



.about{
display: grid;
grid-template-columns: repeat(2, 1fr);
align-items: center;
gap: 1.5rem;

}

.about-img {
  margin-top:20px;
padding-bottom: 20%;
max-width: 630px;
height: auto;
width: 100%;
  
border-radius: 8px;
  
}

about-text h2{
font-size: 60px;
}

#c{
color:#0ef;
}
#big{
  
  margin-left:130px;
  margin-bottom:2px;
  font-size:40px;
  font-weight:600;
 
}


#x{
  
font-size: 29px;
font-weight: 600;
color: #fff;
line-height: 1.7;
margin-left:45px;
}

#v{
  margin-left:35px;
color: aliceblue;
font-size: 20px;
line-height: 1.4;
margin-bottom: 4rem;
}
#under{
  height:5px;
  width:108px;
  background-color:#0ef;
  box-shadow:0 0 5px #0ef,
    0 0 15px #0ef,
    0 0 30px #0ef;
  margin-left:130px;
  border:0px;
  border-radius:1px;
  margin-bottom:30px;
}
#under-me{
  height:5px;
  width:55px;
  background-color:#fff;
  box-shadow:0 0 5px white,
    0 0 15px white,
    0 0 30px white;
  margin-left:119px;
  border:0px;
  border-radius:1px;
}
#o{
color:#081b29;
  box-shadow:0 0 0px cyan,
    0 0 0px cyan,
    0 0 0px cyan,
  0 0 40px cyan;
  background:#6bffff;
  border-radius:10px;
}
#service{

  color:aliceblue;
  font-size:20px;
  line-height:1.4;
  margin-bottom:4rem;
}
.sub-title{
  text-align:center;
  font-size:40px;
  padding-bottom:70px;
  
}
.sub-title span{
  color:#0ef;

}
.container{
  padding:90px;
}
.services-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(259px,1fr));
  grid-gap:40px;
  margin-top:50px;
}
.services-list div{
  background-color:transparent;
  padding:40px;
  font-size:13px;
  font-weight:13px;
  border-right:10px;
  border-radius:20px;
  transition:background 0.5s,transform 0.5s;
  box-shadow:1px 1px 20px #122990f7,
    1px 1px 40px #0053b8f7;

}
.services-list div i{
  font-size:50px;
  margin-bottom:30px;
}

.services-list div h2{
  font-size:30px;
  font-weight:500;
  margin-bottom:15px;
  
}

.services-list div a{
  text-decoration:none;
  color:#000000;
  font-size:12px;
  margin-top:20px;
  display:inline-block;
}
.read{
  display:inline-block;
  padding:12px 28px;
  background:#0ef;
  border-radius:40px;
  font-size:16px;
color:#081b29;
  letter-spacing:1px;
  text-decoration:none;
  font-weight:600;
  opacity:0;
  animation:slidetop 1s ease forwards;
  animation-delay:2s;
  box-shadow:0 0 5px #0ef,
    0 0 25px #0ef; 
  
    }
.read:hover{
box-shadow:0 0 5px cyan,
  0 0 25px cyan,
  0 0 50px cyan,
  0 0 100px cyan,
  0 0 200 px cyan;
  
}
.services-list div:hover{
  transform:translateY(-15px);
}






/*skilllllllllllllllllllllllllllllll)llll*/
section{
  display:flex;
  flex-wrap:warp;
}
.container1{
  width:100%;
  height:500px;
  padding:75px 90px;
  margin-left:0px;
} 
.heading1{
  text-align:center;
  text-decoration :underline;
  text-underline-offset:10px;
  text-decoration-thickness:5px;
  margin-bottom:50px;
  
}
.bar{
  font-size:23px;
  
}
.Technical-bars .bar{
  margin-top:40px;
}
.Technical-bars .bar:first-child{
  margin-top: 0;
}
.Technical-bars .bar:last-child{
  margin-bottom:0;
}
.Technical-bars .bar .info{
  margin-bottom:5px ;
  
}
.Technical-bars .bar .info span{
  font-size:17px;
  font-weight:500;
 
}

.Technical-bars .bar .progress-line {
position:relative;
  border-radius:10px;
  width:100%;
  height:5px;
  background-color:#000;
  
}
.Technical-bars .bar .progress-line span{
  height:100%;
  background-color:cyan;
  position:absolute;
  border-radius:10px;
    
}

.progress-line.html span{
  width:90%;
  opacity:0;
  animation:slideright 0.5s ease forwards;
  animation-delay:2s;
  /*animation*/
}
.progress-line.css span{
  width:60%;
  opacity:0;
  animation:slideright 0.5s ease forwards;
  animation-delay:2.1s;
  /*animation*/
}
.progress-line.javascript span{
  width:85%;
  opacity:0;
  animation:slideright 0.5s ease forwards;
  animation-delay:2.2s;
  /*animation*/
}
.progress-line.react span{
  width:75%;
  opacity:0;
  animation:slideright 0.5s ease forwards;
  animation-delay:2.3s;
  /*animation*/
}
#html{
  margin-left:230px;
}

#css{
margin-left:148px;
}
#js{
  margin-left:213px;
}
  #react{
    font-size:27px;
    margin-left:192px;
  }














.radial-bars{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: flex-start;
}

radial-bars.radial-bar{
width: 50%;
height: 175px;
margin-bottom: 10px;
  position: relative;
}



radial-bars .radial-bar svg{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) rotate(-90deg);
width: 120px;
height: 160px;

}

.radial-bars.radial-bar.progress-bar{
stroke-width: 10;
stop-color: black;
fill: transparent;
stroke-dasharray: 502;
stroke-dashoffset: 502;
stroke-linecap: round;
animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {

100% {
stroke-dashoffset: -1;
}
}

.path{
stroke-width: 10;
stroke: #0ef;
fill: transparent;
stroke-dasharray: 502;
stroke-dashoffset: 502;
stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}

.path-2{animation: animate-path2 1s 1s linear forwards;}

.path-3{animation: animate-path3 1s 1s linear forwards;}

.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
100% {
stroke-dashoffset: 50;;
}
 }

@keyframes animate-path2{
100%{
stroke-dashoffset: 175;;
}
}

@keyframes animate-path3{

100% {
stroke-dashoffset: 125;;
}
}



@keyframes animate-path1{

100%{

stroke-dashoffset: 75;;

}
}
.redial-bar.percentage{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 17px;
font-weight: 500;

}

.radial-bar .text{
width: 100%;
position: absolute;
text-align: center;
left: 50%;
bottom: -5px;
transform: translateX(-50px);
font-size: 17px;
}